[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
django = "*"
pillow = "*"
psycopg2 = "*"
django-seed = "==0.2.2"
djangorestframework = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
